{% extends 'base.html.twig' %}

{% block title %}Modifier la Catégorie
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Modifier ce Proprietaire
			<i>{{ proprietaire.nom }}</i>
		</h1>
		{{ form(formulaire) }}
		</div>
	{% endblock %}
